[xininsure_dev]
host_xininsure = 10.0.0.127
port_xininsure = 1521
username_xininsure = XININSURE
password_xininsure = Xindev127
dbname_xininsure = XINDEV

[xininsure_preprod]
host_xininsure = 10.0.0.129
port_xininsure = 1521
username_xininsure = CONRPAOPER
password_xininsure = PreXin129
dbname_xininsure = OK

[xininsure_pro]
host_xininsure = 10.0.0.111
port_xininsure = 1521
username_xininsure = CONRPAOPER
password_xininsure = MxT1nW11
dbname_xininsure = OK

[tqmsale_dev]
username_tqmsale = tqmsale
password_tqmsale = Predev127
host_tqmsale = 10.0.0.127
port_tqmsale = 1521
dbname_tqmsale = SALEDEV

[tqmsale_preprod]
username_tqmsale = CONRPAOPER
password_tqmsale = PreSale128
host_tqmsale = 10.0.0.128
port_tqmsale = 1521
dbname_tqmsale = SALE

[tqmsale_pro]
host_tqmsale = 10.0.0.72
port_tqmsale = 1521
username_tqmsale = CONRPAOPER
password_tqmsale = T0a4Nx1A7m
dbname_tqmsale = SALE

[variable]
smtp_host = mail.tqm.co.th
smtp_port = 465
# smtp_host = smtp.office365.com
# smtp_host = smtp.gmail.com
# smtp_port = 587
sender_email = XXXX
sender_email_password = XXXX
get_dates = TRUNC(S.SALEDATE) = TRUNC(SYSDATE - 60)
# get_dates2 = TRUNC(SYSDATE-60)
get_dates2 = SYSDATE-61
#SYSDATE-1
get_dates_insert = SYSDATE-61
supplier_codes = KWIL,AIA,SSL,BKI,BLA,VY,DHP,TVI,MTI,MTL,MLI,ALIFE,FWD,KTAL,ACE,SELIC,PLA,TSLI
# action_codes = M13,C21,CC09,C09,C08
# get_dates = AND    SA.DUEDATE >= TRUNC(SYSDATE) - 5 AND    SA.DUEDATE <= TRUNC(SYSDATE) - 1
# get_dates =  AND sa.duedate >= to_date('01/05/2022', 'dd/mm/yyyy') AND sa.duedate >= to_date('10/05/2024', 'dd/mm/yyyy')
# sender_email = RPANotification@casmatt.co.th
# sender_email_password = TQM@2024
receiver_emails = XXXX
cc_emails = XXXX
tz = Asia/Bangkok
CMTEL_config = {"team_a": ["662824","671006","541463","662820","641758","651025","650953","680362"], "team_b": ["641894","653080","670118","660294","661978","672395","673580"]}
CMT21_config = {"team_g": ["490444","562618","662475"], "team_d": ["510936"], "team_m": ["541557","510140","610249","673142"], "team_e": ["541953","621050","651610"], "team_k": ["541100","552135","651609","670781"], "team_b": ["542396","630551","652828"], "team_f": ["520882"], "team_j": ["511000"], "team_c": ["540830","650625","591470","671827","603623","651715","661544"], "team_i": ["510131"], "team_n": ["520245","621190","590272"], "team_h": ["541419","630673","630973"]}